<form method="post" action="{{ path('app_absintervenants_delete', {'id': absintervenant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ absintervenant.id) }}">
    <button class="btn">Delete</button>
</form>
