{% extends 'base.html.twig' %}

{% block title %}New Justifications{% endblock %}

{% block body %}
    <h1>Create new Justifications</h1>

    {{ include('justifications/_form.html.twig') }}

    <a href="{{ path('app_justifications_index') }}">back to list</a>
{% endblock %}
