{% extends 'base.html.twig' %}

{% block title %}New TableauAbsences{% endblock %}

{% block body %}
    <h1>Create new TableauAbsences</h1>

    {{ include('tableau_absences/_form.html.twig') }}

    <a href="{{ path('app_tableau_absences_index') }}">back to list</a>
{% endblock %}
