<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Vie Scolaire
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>

		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css" integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.3/dist/css/tom-select.css" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<style>
			.select2-container--default .select2-selection--single {
				background-color: #fff;
				border: 1px solid #ced4da;
				!important border-radius: 4px;
				height: 39px !important;
			}
			.select2-container--default .select2-selection--single .select2-selection__rendered {
				color: #444;
				line-height: 35px !important;
			}
			.select2-container--default .select2-selection--single .select2-selection__rendered {
				color: #747272 !important;
			}
			.bg-night-sky {
				background-image: linear-gradient(to right,#141e30,#243b55) !important;
			}
			.app-theme-white.fixed-header .app-header__logo {
				background: rgba(250, 251, 252, .1);
			}
			.select2-container--default {
				width: 180px !important;
			}
			.col-md-2 {
				flex: 0 0 18.66667%;
				max-width: 18.66667%;
			}
			a {
				background-color: transparent;
				color: #424242;
				text-decoration: none;
			}
			.dataTables_length label {
				display: none;
			}
			.fixed-header .app-main {
				padding-top: 60px;
			}
			.vertical-nav-menu i.metismenu-state-icon,
			.vertical-nav-menu i.metismenu-icon {

				opacity: 1;

			}
			.select2-container--default .select2-selection--single {

				border: 1px solid #dfdfdf !important;

			}
			.widget-heading,.widget-subheading{
				color:white !important;
			}
			.widget-content .widget-content-left .widget-heading {
    opacity: 1;
    font-weight: 600;
}
		</style>


	</head>
	<body>
		<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar"> {% block body %}{% endblock %}


			{# <script type="text/javascript" src="{{asset('assets/scripts/main.d810cf0ae7f39f28f336.js')}}"></script> #}
			{% block javascripts %}

				<script type="text/javascript" src="{{asset('assets/scripts/main.js')}}"></script>

			{% endblock %}


		</div>
		{% for message in app.flashes('message') %}
			<div id="toast-container" class="toast-top-right">
				<div class="toast toast-success" aria-live="polite">
					<div class="toast-progress" style="width: 0.18%;"></div>
					<button type="button" class="toast-close-button" role="button">×</button>
					<div class="toast-message">{{message}}</div>
				</div>
			</div>


		{% endfor %}
	</body>
</html>
{% block modal %}{% endblock %}
